.container {
    opacity: 0;
    display: flex;
    flex-direction: column;
    height: 50rem;
    width: 100rem;
    background-color: $color-white;
    box-shadow: $shadow-dark;
    border-radius: 1rem;
    animation: fadeIn .5s ease-in .5s;
    animation-fill-mode: forwards;

    &__paragraph {
        align-self: center;
        text-align: center;
        font-size: 6.5rem;
        font-style: italic;
        color: $color-grey-1;
        width: 90%;
        border-bottom: $border-1;
    }
}

.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    flex-grow: 1;
    height: 100%;

    &__primary, &__secondary {
        color: $color-grey-1;
        font-weight: 200;
    }

    &__primary {
        font-size: 3.5rem;
    }

    &__secondary {
        font-size: 4rem;
    }
}

.result-navigation {
    display: none;
    justify-content: space-between;
    margin: 0 2rem 1.5rem 2rem;
}